body {
    background-image: url(../images/background.jpg);
    background-repeat: no-repeat;
    background-size: 1500px 800px;
    background-color: lightgoldenrodyellow;
}

#box {
    background-color: lightgoldenrodyellow;
    height: 500px;
    width: 800px;
    margin: 0 auto;
    margin-top: 20px;
}

#title {
    text-align: center;
    margin: 20px;
    font-size: 70px;
}
#game {
    margin: 0 auto;
    text-align: center;
}
.question {
    margin: 30px;
    font-size: 30px;
}
.answerbutton {
    width: 500px;
}
.restartButton {
    width: 500px;
}